#### Импорт библиотек для работы.

In [44]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

#### Прочитаем файл.

In [45]:
dt = pd.read_csv('D:\\МИРЭА\\Машинное обучение\\Пр7\\data.csv', encoding='windows-1251', sep='\t')  
dt

,Беременность,Глюкоза,АД,Толщина КС,Инсулин,ИМТ,Наследственность,Возраст,Диагноз
0,6,148,72,35.0,0.0,33.6,0.627,50,1
1,1,85,66,29.0,0.0,26.6,0.351,31,0
2,8,183,64,0.0,0.0,23.3,0.672,32,1
3,1,89,66,23.0,94.0,28.1,0.167,21,0
4,0,137,40,35.0,168.0,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48.0,180.0,32.9,0.171,63,0
764,2,122,70,27.0,0.0,36.8,0.340,27,0
765,5,121,72,23.0,112.0,26.2,0.245,30,0
766,1,126,60,0.0,0.0,30.1,0.349,47,1
767,1,93,70,31.0,0.0,30.4,0.315,23,0

In [46]:
dt.describe()

,Беременность,Глюкоза,АД,Толщина КС,Инсулин,ИМТ,Наследственность,Возраст,Диагноз
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

#### Таргентное и признаковое пространства.

In [47]:
target_fin = 'Диагноз'
X = dt.loc[:, dt.columns != target_fin]
y = dt.loc[:, target_fin]

#### Разделяем данные на обучающую и тестовую выборки.

In [48]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

#### Реализуем функцию активации и ее производную (ReLU).

In [49]:
def relu(x):
    return np.maximum(0, x)

In [50]:
def relu_derivative(x):
    return np.where(x > 0, 1, 0)

#### Реализуем функцию активации и ее производную (Sigmoid).

In [51]:
def sigmoid(x):
    return 1 / (1 + np.exp(-x))

In [52]:
def sigmoid_derivative(x):
    return x * (1 - x)

#### Сделаем инициализацию весов.

In [53]:
def initialize_weights(input_size, hidden_sizes, output_size):
    weights = []
    sizes = [input_size] + hidden_sizes + [output_size]
    for i in range(1, len(sizes)):
        weights.append(np.random.randn(sizes[i-1], sizes[i]))
    return weights

#### Реализуем прямой прохрод.

In [79]:
def forward_pass(X, weights):
    activations = [X]
    for i, w in enumerate(weights):
        net_input = np.dot(activations[i], w)
        activation = relu(net_input) if i < len(weights) - 1 else sigmoid(net_input)
        activations.append(activation)
    return activations

#### Реализуем обратный проход.

In [80]:
def backward_pass(activations, weights, y, learning_rate):
    output_error = y - activations[-1]
    errors = [output_error * sigmoid_derivative(activations[-1])]
    
    for i in range(len(weights) - 1, 0, -1):
        error = np.dot(errors[-1], weights[i].T) * relu_derivative(activations[i])
        errors.append(error)
    
    errors.reverse()
    
    for i in range(len(weights)):
        weights[i] += learning_rate * np.dot(activations[i].T, errors[i])
    
    return weights

#### Реализуем функцию обучения нейронной сети.

In [81]:
def train_network(X, y, hidden_sizes, learning_rate, epochs):
    input_size = X.shape[1]
    output_size = 1
    
    # Инициализация весов
    weights = initialize_weights(input_size, hidden_sizes, output_size)
    
    for epoch in range(epochs):
        for xi, yi in zip(X, y):
            xi_array = np.array(xi)
            yi_array = np.array(yi)
            xi = xi_array.reshape(1, -1)
            yi = yi_array.reshape(1, -1)
            
            activations = forward_pass(xi, weights)
            weights = backward_pass(activations, weights, yi, learning_rate)
    
    return weights

#### Параметры сети.

In [82]:
hidden_sizes = [4, 4]  # количество нейронов в скрытых слоях
learning_rate = 0.1 # начальная скорость обучения# максимальное число итераций
epochs = 1000 # максимальное число итераций

#### Обучим сеть.

In [83]:
weights = train_network(X, y, hidden_sizes, learning_rate, epochs)

ValueError: shapes (1,1) and (8,4) not aligned: 1 (dim 1) != 8 (dim 0)